{% extends 'base.html' %}
{% block conteudo %}
<h2>Adicionar Curso</h2>
<hr>
<form action="{{url_for('add_curso')}}" class="form-group" method="POST">
<div>
    <label for="nome" class="form-label">Nome:</label>
    <input type="text" class="form-control" name="nome" id="nome">
</div>
<div>
    <label for="descricao" class="form-label">Descrição:</label>
    <input type="text" class="form-control" name="descricao" id="descricao">
</div>
<div>
    <label class="form-label" for="formacao_id">Formação</label>
    <select class="form-select" name="formacao_id" id="formacao_id">
        <option value="" disabled selected>Formações</option>
        {% for formacao in formacoes %}
        <option value="{{formacao.id}}">{{formacao.nome}}</option>
        {% endfor %}
    </select>
</div>
<button class="btn btn-success">Adicionar</button>
</form>
{% endblock conteudo %}