{% extends 'base.html' %}
{% block conteudo %}
<h2>Adicionar Curso</h2>
<hr>
<form action="{{url_for('add_professor')}}" class="form-group" method="POST">
<div>
    <label for="nome" class="form-label">Nome:</label>
    <input type="text" class="form-control" name="nome" id="nome">
</div>
<div>
    <label for="idade" class="form-label">Idade:</label>
    <input type="number" class="form-control" name="idade" id="idade">
</div>
<button class="btn btn-success">Adicionar</button>
</form>
{% endblock conteudo %}
