{% extends 'base.html' %}
{% block conteudo %}
<h2>Lista cursos</h2>
<hr>
<a class="btn btn-primary" href="{{url_for('add_curso')}}">Adicionar cursos</a>
<table class="table table-hover table-striped table-responsive">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data de Criação</th>
            <th scope="col">Formação</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% if cursos %}
        {% for curso in cursos %}
        <tr>
            <td>{{curso.id}}</td>
            <td>{{curso.nome}}</td>
            <td>{{curso.descricao}}</td>
            <td>{{curso.data_criacao}}</td>
            <td>{{curso.formacao_id}}</td>
            <td>
                <a class="btn btn-warning" href="{{url_for('put_curso', id=curso.id)}}">Editar</a>
                <a class="btn btn-danger" onclick="confirm('Deseja excluir o curso?')" href="{{url_for('del_curso', id=curso.id)}}">Deletar</a>
            </td>
            
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">Não há cursos com esse id</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock conteudo %}