{% extends 'base.html' %}
{% block conteudo %}
<h2>Lista Professores</h2>
<hr>
<a class="btn btn-primary" href="{{url_for('add_professor')}}">Adicionar professor</a>
<table class="table table-hover table-striped table-responsive">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% if professores %}
        {% for professor in professores %}
        <tr>
            <td>{{professor.id}}</td>
            <td>{{professor.nome}}</td>
            <td>{{professor.idade}}</td>
            <td>
                <a class="btn btn-warning" href="{{url_for('put_professor', id=professor.id)}}">Editar</a>
                <a class="btn btn-danger" onclick="return confirm('Deseja excluir o Professor?')" href="{{url_for('del_professor', id=professor.id)}}">Deletar</a>
            </td>
            
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">Não há Professores com esse id</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% if professores.has_prev %}
<a href="{{url_for('professores', page=professores.prev_num)}}">Professores Anteriores</a>
{% else %}
    Professores listados
{% endif %}
{% if professores.has_next %}
<a href="{{url_for('professores', page=professores.next_num)}}">Próximos Professores</a>
{% else %}
    Professores listados
{% endif %}
{% endblock conteudo %}