__pycache__
# Databases
titulo.db
banco.db

# Arquivos zip
code.zip
names.zip

# conexão com o banco
conn_post_psycopg.py 

# ambientes virtuais
.venv

# pytest cache
.pytest_cache

# Banco de dados do pythondev
cursos.sqlite3

## Configurações privadas do Projeto APIFlash
config.py