{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">
    Lista de Filmes
</h2>
<hr>

<div class="d-flex gap-1 justify-content-evenly flex-wrap" style="overflow-x: auto;">
    {% for filme in filmes %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://image.tmdb.org/t/p/w500{{filme.backdrop_path}}" class="card-img-top" alt="Logo de {{filme.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{filme.title}}</h5>
                    <p class="card-text">{{filme.overview}}</p>
                    <hr>
                    <h5>Nota: <span class="badge bg-primary">{{filme.vote_average}}</span></54>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock conteudo %}