{% extends 'base.html'  %}
{% block conteudo %}
    <h1>Hello World</h1>
    <hr>
    {{nome}} tem {{idade}}
    <br>
    <h3 style="font-weight: bold;">frutas</h3>
     <ol>
         <li>{{fruta1}}</li>
         <li>{{fruta2}}</li>
         <li>{{fruta3}}</li>
         <li>{{fruta4}}</li>
     </ol>
     <h3 style="font-weight: bold;">frutas (for)</h3>
     <ol>
        {% for f in fruta %}
            <li>{{f}}</li>
        {% endfor %}
        <!-- Chama a função da rota no action  com o método desejado -->
        <div class="form-group">
            <form action="{{url_for('principal')}}" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="fruta">Fruta</label>
                    <input class="form-control" type="text" name="fruta" id="fruta" placeholder="Escreva o nome de uma fruta">
                </div>

                <button class="btn btn-success">Adicionar</button>
            </form>
        </div>
     </ol>
{% endblock conteudo %}