{% extends 'base.html' %}
{% block conteudo %}
<h2>Listagem de Cursos</h2>
<a href="{{url_for('cursos', propriedade='create_cursos')}}" class="btn btn-primary">Criar Cursos</a>
<table class="table table-hover table-striped table-responsive">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Carga Horária</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos.items %}
        <tr>
            <td>{{curso.id}}</td>
            <td>{{curso.nome}}</td>
            <td>{{curso.descricao}}</td>
            <td>{{curso.carga_horaria}}</td>
            <td>
                <a href="{{url_for('cursos', propriedade='alter_cursos', id=curso.id)}}" class="btn btn-warning btn-xs">Editar</a>
                <a href="{{url_for('cursos', propriedade='delete_cursos', id=curso.id)}}" onclick="return confirm('Deseja excluir o Curso?')" class="btn btn-danger btn-xs">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if cursos.has_prev %}
<a href="{{url_for('cursos',propriedade='lista_cursos', page=cursos.prev_num)}}">Cursos Anteriores</a>
{% else %}
    Cursos listados
{% endif %}
{% if cursos.has_next %}
<a href="{{url_for('cursos',propriedade='lista_cursos', page=cursos.next_num)}}">Próximos Cursos</a>
{% else %}
    Cursos listados
{% endif %}
{% endblock conteudo %}