{% extends 'base.html' %}
{% block conteudo %}
<h1>Sobre mim</h1>
<hr>
{% for r in registros %}
<p class="d-flex gap-1">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse_{{r.nome}}" role="button" aria-expanded="false"
        aria-controls="collapse_{{r.nome}}">
        {{r.nome}}
    </a>
</p>
<div class="collapse" id="collapse_{{r.nome}}">
    <div class="card card-body">
        {{r.nota}}
    </div>
</div>
{% endfor %}

<div class="form-group">
    <form action="{{url_for('sobre')}}" method="post">
        <div class="mb-3">
            <label class="form-label" for="nome">Nome: </label>
            <input class="form-control" type="text" name="nome" id="nome">
        </div>

        <div class="mb-3">
            <label class="form-label" for="nota">Nota: </label>
            <input class="form-control" type="text" name="nota" id="nota">
        </div>

        <button class="btn btn-success">Adicionar</button>
    </form>
</div>

{% endblock conteudo %}