{% extends 'base.html' %}
{% block counteudo %}
    <h1>Sobre mim</h1>
    <hr>
    {% for r in registros %}
        <details>
            <summary>{{r.nome}}</summary>
            <p>{{r.nota}}</p>
        </details>
    {% endfor %}

    <form action="{{url_for('sobre')}}" method="post">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome">

        <label for="nota">Nota: </label>
        <input type="text" name="nota" id="nota">

        <button>Adicionar</button>
    </form>
{% endblock conteudo %}